.hero {
  background-size: cover;
  height: 90vh;
  width: 100%;
  background-image: url('../../assets/images/hero.png');
}

.container-hero {
  display: flex;
  position: relative;
  top: 25%;
  margin: 0 5%;
}
