.container-formulario-registro {
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.761);
  border-radius: 20px;
  padding: 10px;
  background-color: rgba(201, 225, 184, 0.165);
  backdrop-filter: blur(5px); /* Aplicar un desenfoque de 10px */
}

.form-check-input {
  border: 1px solid rgba(0, 0, 0, 0.552) !important;
}
