* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Footer {
  width: 100%;
  /* height: 100px; */
  padding: 20px;
  background-image: linear-gradient(to right, #088846, #2e4d5e);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-top: 2px solid white;
}

.Footer p {
  color: white;
  text-align: center;
  padding: 1rem;
}
